<!--Site Preloaders-->
<app-preloader
    *ngIf="siteImages.length > 0"
    [images]="siteImages"
></app-preloader>
<!--END Site Preloaders-->

<div class="container-fluid">

    <div class="content-section">
        
        <!--Logo section-->
        <div class="row ml-1 mr-">

            <div class="mini-logo-section">
                <a routerLink="/">
                    <img src="../../../assets/img/nerd-interpreter-logo.png" alt="the-nerd-interpreter" class="img-fluid">
                </a>
            </div>

        </div>
        <!--End of logo section-->

        <app-banner
            bannerTitle="Superheroes and Saints"
            bannerImage="../../../assets/img/superheroes-saints/superheroes-saints-banner.jpg"
        >
        </app-banner>

        <div class="row">

            <div class="p-3 mt-3 text-intro-section">

                <p class="text-center">
                    Here's an in-depth analysis of the similarities and struggles of superheroes 
                    in DC and Marvel, and saints in the Catholic Church. 
                </p>

            </div>

        </div>

        <div class="row">

            <div class="col explore-characters-txt mt-5">
                <h4 class="text-center display-3">
                    Podcast Episodes
                </h4>
            </div>

        </div>

        <div class="row">

            <div class="grid">

                <div class="grid-sizer"></div>

                <ngx-masonry
                    [options]="options" 
                    [updateLayout]="characterStore.refined"
                    [useImagesLoaded]="true">

                    <div ngxMasonryItem *ngFor="let character of charactersData">

                        <!-- Character Item -->
                        <div class="character-item">
            
                            <div class="character-image">
                                <img src="{{ character.characterImage }}" alt="{{ character.alt }}" class="img-fluid">
                            </div>
            
                            <a class="name" routerLink="/single-superhero-saint">
                                <h3 class="name display-4">Listen Now</h3>
                            </a>
                            
                        </div>
            
                    </div>

                </ngx-masonry>

            </div>

        </div>

    </div>

</div>

<section class="more-characters-section p-4 mt-5">

    <div class="row">
        <div class="col-md-1 vertical-text-section">
            <h2 class="display-3 text-center vertical-text">
                More on the Nerd interpreter......
            </h2>
        </div>


        <div class="col-md-11 more-cnt-section">

            <div class="mini-background-section mb-5">

                <div class="caption-text-section">
                    <h3 class="text-white display-3 text-right">DC Characters</h3>
                    <p class="text-white text-right">
                        Check out character studies from the characters in the DC Universe, both heroes and villains
                    </p>
                    
                    <a routerLink="/dc-characters" 
                        class="btn btn-light text-black">
                        Discover More
                    </a>
                </div>

                <img 
                    src="./assets/img/dc-mini-background.jpg"
                    alt="marvel-mini-background" 
                    class="img-fluid">

            </div>

            <div class="mini-background-section mb-5">

                <div class="caption-text-section">
                    <h3 class="text-white display-3 text-right">Marvel Characters</h3>
                    <p class="text-white text-right">
                        Check out character studies from the characters in the Marvel Universe, both heroes and villains
                    </p>

                    <a routerLink="/marvel-characters" 
                        class="btn btn-light text-black m-3">
                        Discover More
                    </a>

                </div>

                <img 
                    src="./assets/img/marvel-mini-background.jpg"
                    alt="marvel-mini-background" 
                    class="img-fluid">

            </div>

        </div>

    </div>

</section>


<app-footer-alt></app-footer-alt>