<div class="overlay">

    <!--Background moving images section-->
    <div class="background">

        <div class="hero-section"></div>

        <div class="villain-section"></div>

        <div class="hero-section"></div>

        <div class="villain-section"></div>
    </div>
    <!--End of background moving images section-->

    <!--Logo section-->
    <div class="logo-section">
        <img src="./src/img/logo.png" alt="the-nerd-interpreter" class="img-fluid">
    </div>
    <!--End of logo section-->

</div>