        <!--Header section--->

        <span 
            class="menuOpener"
            (click)="toggleMenu();">
        </span>

        <header>

            <!--Main Menu section-->
            <div class="mainMenu">

                <div class="menuBackground">

                    <img class="backgroundImage dc-characters" src="./assets/img/nav-menu/dc-background.jpg" alt="">

                    <img class="backgroundImage marvel-characters"
                        src="./assets/img/nav-menu/marvel-characters-hero-banner.jpg" alt="">

                    <img class="backgroundImage about" src="./assets/img/nav-menu/contact-background.jpg" alt="">

                    <img class="backgroundImage contact" src="./assets/img/nav-menu/bat-signal-banner.jpg" alt="">

                    <img class="backgroundImage hero-journey" src="./assets/img/nav-menu/heroes-journey-background.jpg"
                        alt="">

                </div>


                <div class="nav-logo-section">

                    <a 
                        routerLink="/"
                        (click)="toggleMenu()">
                        <img src="../../../assets/img/nav-menu/logo-black.png" alt="the-nerd-interpreter" class="img-fluid">
                    </a>

                </div>

                <span 
                    class="menuCloser"
                    (click)="toggleMenu();">
                </span>

                <ul class="d-flex nav-links flex-column">

                    <li>
                        <a 
                            routerLink="/dc-characters"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}"
                            data-background="dc-characters"
                            (mouseenter)="handleLinkHover($event)"
                            (mouseleave)="resetStyles($event)"
                            (click)="toggleMenu()"
                            >
                            DC Characters
                        </a>
                    </li>

                    <li>
                        <a 
                            routerLink="/marvel-characters"
                            routerLinkActive="active"
                            data-background="marvel-characters"
                            (mouseenter)="handleLinkHover($event)"
                            (mouseleave)="resetStyles($event)"
                            (click)="toggleMenu()">
                            Marvel Characters
                        </a>
                    </li>

                    <li>
                        <a 
                            routerLink="/about"
                            routerLinkActive="active"
                            data-background="about"
                            (mouseenter)="handleLinkHover($event)"
                            (mouseleave)="resetStyles($event)"
                            (click)="toggleMenu()">
                            About
                        </a>
                    </li>

                    
                    <li>
                        <a 
                            routerLink="/contact"
                            routerLinkActive="active"
                            data-background="contact"
                            (mouseenter)="handleLinkHover($event)"
                            (mouseleave)="resetStyles($event)"
                            (click)="toggleMenu()">
                            Contact
                        </a>
                    </li>
                    
                </ul>

                <div class="social-link-section">

                    <div class="social-link mt-5 text-center">
                        <a href="#" class="facebook"></a>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="instagram"></a>
                    </div>

                </div>

            </div>
            <!--End of Main Menu section-->

        </header>

        <!--End of Header section--->