@font-face {
    font-family: 'procionoregular';
    src: url('.fonts/Prociono/prociono-regular-webfont.eot');
    src: url('prociono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('prociono-regular-webfont.woff2') format('woff2'),
         url('prociono-regular-webfont.woff') format('woff'),
         url('prociono-regular-webfont.ttf') format('truetype'),
         url('prociono-regular-webfont.svg#procionoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}