<footer class="footer-section p-5">

    <div class="row footer-row">

        <div class="footer-logo-section col-md-8">

            <img src="../../../assets/img/icons/Logo.png" alt="nerd-interpreter-white" class="img-fluid">

            <div class="footer-social-links">

                <div class="social-link">

                    <a href="#" class="facebook"></a>
                    <a href="#" class="twitter"></a>
                    <a href="#" class="instagram"></a>
                </div>

            </div>
        </div>

        <div class="quick-links-section col-md-4">
            <h4 class="text-white display-4">Quick Links</h4>
            <div class="links-section d-flex">
                <ul>

                    <li>
                        <a
                            routerLink="/dc-characters">
                            DC Characters
                        </a>
                    </li>

                    <li>
                        <a 
                            routerLink="/marvel-characters">
                            Marvel Characters
                        </a>
                    </li>

                    <li>
                        <a 
                            routerLink="/about">
                            About
                        </a>
                    </li>

                    
                    <li>
                        <a 
                            routerLink="/contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</footer>