    <!--Character Stats-->
    <section class="character-stats content">

        <div class="container-fluid">

            <div class="row character-stats-section justify-content-center">

                <ul class="d-flex character-stats-list">
                    <li>
                        <div class="top-cnt text-center p-3">
                            <span class="stat-top">Comic Universe</span>
                        </div>

                        <div class="bottom-cnt text-center p-3">
                            <span class="stat-bottom">{{comicUniverse}}</span>
                        </div>

                    </li>

                    <li>

                        <div class="top-cnt text-center p-3">
                            <span class="stat-top">Character Alignment</span>
                        </div>

                        <div class="bottom-cnt text-center p-3">
                            <span class="stat-bottom">{{characterAlignment}}</span>
                        </div>

                    </li>

                    <li>

                        <div class="top-cnt text-center p-3">
                            <span class="stat-top">Base of Operation</span>
                        </div>

                        <div class="bottom-cnt text-center p-3">
                            <span class="stat-bottom">{{baseOfOperation}}</span>
                        </div>

                    </li>
                </ul>

            </div>

        </div>

    </section>
    <!--end of Character Stats-->