<section class="newsletter-section mb-5">

    <div class="row">

        <div class="center-text-section">
            <h4 class="text-center display-4">
                Get Occassional updates on articles about comic book characters
            </h4>

            <div class="input-group mb-3 mt-3">

                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" placeholder="Your Email">

                <button type="submit" class="btn btn-black">Subscribe</button>

            </div>

        </div>

    </div>

</section>