<!--Logo section-->
<div class="row">

    <div class="mini-logo-section">
        <a routerLink="/">
            <img src="../../../assets/img/nav-menu/sm-logo-white.png" alt="the-nerd-interpreter" class="img-fluid">
        </a>
    </div>

</div>
<!--End of logo section-->

<div class="row">

    <div class="banner-image-section">
        <div class="banner-text">
            <h1 class="text-white display-1 text-center">
                {{bannerTitle}}
            </h1>
        </div>

        <img 
            src="{{bannerImage}}" 
            alt="dc-characters" 
            class="img-fluid">
    </div>

</div>