<!-- Site Preloaders-->
<app-preloader
    *ngIf="siteImages.length > 0"
    [images]="siteImages"
></app-preloader>
<!--END Site Preloaders -->

<!--Logo section-->
<div class="row">

    <div class="mini-logo-section">
        <a routerLink="/">
            <img src="../../../assets/img/nav-menu/sm-logo-white.png" alt="the-nerd-interpreter" class="img-fluid">
        </a>
    </div>

</div>
<!--End of logo section-->

<app-banner
    bannerTitle="About the Blog"
    bannerImage="../../../assets/img/about/about-banner.jpg"
>

</app-banner>

<div class="row">
    <div class="text-intro-section mt-5 mb-5">

        <p class="text-center p-4">
            The Nerd Inerpreter is a blog that looks 
            deep into the iconic comic book characters that we
             know and love
        </p>
    </div>

</div>

<!--About Comic Characters Section-->
<section class="about-comic-characters-section p-5">

    <div class="container">
        <div class="row">

            <div class="cnt-section-title">
                <h3 class="display-4 p-2">
                    All About Comic Book Characters
                </h3>
            </div>

            <div class="col-md-8 text-section">

                <div class="text-section">

                    <div class="cnt-section text-left p-2">

                        <p>
                            Comic book characters are very intriguing.
                        </p>

                        <p>
                            Be it the heroes' struggles or triumphs, their moral codes, or the villains' 
                            their twisted sense of morality, we can, to some extent, relate with these 
                            larger-than-life characters. If we can't relate to them, maybe we'll just be fascinated by them.
                        </p>

                        <p>
                            In this blog, there are character-deep-dives where we study certain aspects 
                            of these characters, with examples from comic books and films, what makes them 
                            who they are and what we can learn from them.
                        </p>

                        <p>
                            Hope you enjoy!!
                        </p>
                    </div>

                </div>

            </div>

            <div class="col-md-4 slider-section">

                <owl-carousel-o [options]="customOptions">

                    <ng-container *ngFor="let slide of characterPotraits">
                      <ng-template class="slide" carouselSlide [id]="slide.id">
                        <img [src]="slide.url" [alt]="slide.alt" [title]="slide.id">
                      </ng-template>
                    </ng-container>
                
                  </owl-carousel-o> 

            </div>

        </div>

    </div>

</section>
<!--End of About Comic Characters Section-->

<section class="about-section p-5" data-aos="fade-up" data-aos-duration="1300">

    <div class="container">

        <div class="row">

                <div class="cnt-section-title">
                    <h3 class="display-4 text-center">
                        About Me
                    </h3>
                </div>

            <div class="cnt-section text-center">

                <p>
                    From a young age, I've been fascinated by the world of fiction, particularly science fiction. 
                    I was lucky enough to be introduced into the world of DC and Marvel comic book lore. Primarily, 
                    this was through the animated TV shows such as Superman The Animated Series, Batman The Animated Series, 
                    Justice League, X-Men Evolution and Batman: The Brave and The Bold (The nostalgia!!!).
                </p>

                <p>
                    Through this, I got to know the characters and most importantly their powers and enemies 
                    (simply because at that time, the fights were awesome and the one-liners of the characters witty). 
                    Fast forward, there has been a surge of live-action comic book films, from the DCEU and the MCU. This 
                    got me interested in reading comics, listening to podcasts on the Hero's Journey and character studies 
                    and most importantly, watching the films themselve
                </p>

                <p>
                    My name is Clinton Mutinda, and I love comics.
                </p>
              
            </div>

        </div>

    </div>

</section>

<app-emailsubscription></app-emailsubscription>

<app-footer-alt></app-footer-alt>
