<!--Logo section-->
<div class="row">

    <div class="mini-logo-section">
        <a routerLink="/">
            <img src="../../../assets/img/nav-menu/sm-logo-white.png" alt="the-nerd-interpreter" class="img-fluid">
        </a>
    </div>

</div>
<!--End of logo section-->

<app-banner
    bannerTitle="About the Blog"
    bannerImage="../../../assets/img/about/about-banner.jpg"
>

</app-banner>

<div class="row">
    <div class="text-intro-section mt-5 mb-5">

        <p class="text-center p-4">
            The Nerd Inerpreter is a blog that looks 
            deep into the iconic comic book characters that we
             know and love
        </p>
    </div>

</div>

<section class="about-section p-5" data-aos="fade-up" data-aos-duration="1300">

    <div class="container">

        <div class="row">

                <div class="cnt-section-title">
                    <h3 class="display-4 text-center">
                        About Me
                    </h3>
                </div>

            <div class="cnt-section text-center">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.
                </p>
              
              <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FNairobi&mode=MONTH&src=bXV0aW5kYTE5OTNAZ21haWwuY29t&src=ZDAyYjVlNTk0ZGNiN2Y1YTQ5OGM3ZTZlMGM3YTYyMzc1ODAwOGZiZjllZTU4MmFkMzE5ODI2NDBmNDJiNjc4YkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB&color=%234285F4&color=%23EF6C00" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
              
            </div>

        </div>

    </div>

</section>

<app-emailsubscription></app-emailsubscription>

<app-footer-alt></app-footer-alt>
