/**COLOURS**/
$black:#000000;
$color-1:#039BE5;
$color-2: #E00000;
$color-3: #FFBE06;
$color-4: #008857;
$color-5: #FFFFFF;
$color-6: rgba(245, 245, 245, 0.82);
$color-7: rgba(0, 0, 0, 0.25);
$color-8: #EE5A24;
$color-10:#FAF8EC;
$color-11:#004E92;
$color-12:#5F30E3;
$color-13: #E74C3C;
$color-14: #153A80;
$color-15: #CC4736;


/*breakpoints*/
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;