<!--Logo section-->
<div class="row">

    <div class="mini-logo-section">
        <a routerLink="/">
            <img src="../../../assets/img/nav-menu/sm-logo-white.png" alt="the-nerd-interpreter" class="img-fluid">
        </a>
    </div>

</div>
<!--End of logo section-->

<app-banner
    bannerTitle="The Joker"
    bannerImage="./assets/img/character-page/joker-banner.jpg"
>
</app-banner>

<div class="content-container">

    <!--character-facts-->
    <section id="character-facts" class="main-cnt mt-5" data-aos="fade-up" data-aos-duration="1300">

        <div class="container">

            <div class="row">

                <div class="intro-section text-center ">

                    <h2 class="display-2 p-2 heading-txt">
                        Facts about the Character
                    </h2>

                </div>

            </div>

            <div class="row mt-5">

                <div class="cnt-description-section mb-4">

                    <div class="img-section text-center">
                        <img src="./assets/img/character-page/joker-card.png" alt="joker-card" class="img-fluid">
                    </div>


                    <h3 class="display-4">
                        His creation in comics
                    </h3>
                    <p>
                        The Joker is a supervillain, who came to be in mainstream comic books back in the 1940s and was
                        created by Bill Finger, Bob Kane (the creator of the Batman) and Jerry Robinson.
                    </p>

                </div>

                <div class="cnt-description-section mb-4">
                    <h3 class="display-4">
                        His Abilities
                    </h3>
                    <p>
                        The Joker doesn’t have superhuman abilities, but he’s a highly intelligent criminal mastermind.
                        He
                        commits sadistic crimes with a variety of goofey-thematic props such as: the joker venom and a
                        deck
                        of razor-tipped cards.
                    </p>

                </div>

                <div class="cnt-description-section mb-4">
                    <h3 class="display-4">
                        His Origin
                    </h3>
                    <p>
                        The Joker doesn't have a definite origin story, although the generally accepted origin one is
                        that
                        he was a criminal formerly known as the Red Hood who got into a confrontation with Batman in a
                        chemical factory and in the process the, falls into the acidic chemical plant that disfigures
                        his
                        skin, turning him into the Joker.
                    </p>

                </div>

            </div>

        </div>


    </section>
    <!--end of character-facts-->

    <!--character-deep dive-->
    <section id="character-deep-dive" class="main-cnt mt-5" data-aos="fade-up" data-aos-duration="1300">

        <div class="container">

            <div class="row">

                <div class="intro-section text-center ">

                    <h2 class="display-2 p-2 heading-txt">
                        Character Deep Dive
                    </h2>

                </div>

            </div>

            <div class="row mt-5">

                <div class="cnt-description-section mb-4">

                    <div class="img-section text-center">

                        <img src="./assets/img/character-page/joker.png" alt="joker" class="img-fluid">

                    </div>

                    <p>
                        Here we'll take a deep look into the Joker's motives, based on the films, The Dark Knight and
                        Joker,
                        why he does what he does and other nuance facts about the Crown Prince of Crime
                    </p>

                </div>

                <div class="cnt-description-section mb-4">
                    <h3 class="display-4 cnt-heading pt-3 pb-3">
                        1. Destroying what good means
                    </h3>
                    <p>
                        The Joker has shocked the world of comic readers through some of the horrifying things he has
                        done
                        such as beating up Jason Todd, the boy-wonder Robin with a crowbar and killing him in Death in
                        the
                        Family, shooting Barbara Gordon, Commissioner Gordon’s daughter, in her waist, paralyzing her
                        permanently in The Killing Joke and curving out his face and stitching it back to his deformed
                        face
                        (which is beyond insane and sick) in the New 52, Death of the Family.
                    </p>

                    <img src="./assets/img/character-page/joker-killing-joke.png" alt="joker-killing-joke"
                        class="img-fluid">
                    

                    <p>
                        The Joker doesn't have a definite origin story, although the generally accepted origin one is
                        that
                        he was a criminal formerly known as the Red Hood who got into a confrontation with Batman in a
                        chemical factory and in the process the, falls into the acidic chemical plant that disfigures
                        his
                        skin, turning him into the Joker.
                    </p>

                    <img src="./assets/img/character-page/joker-quote-1.jpg" alt="joker-killing-joke" class="img-fluid">
                  

                </div>

                <div class="cnt-description-section mb-4">
                    <h3 class="display-4 cnt-heading pt-3 pb-3">
                        2. All it takes is one bad day
                    </h3>
                    <p>
                        The Joker has shocked the world of comic readers through some of the horrifying things he has
                        done
                        such as beating up Jason Todd, the boy-wonder Robin with a crowbar and killing him in Death in
                        the
                        Family, shooting Barbara Gordon, Commissioner Gordon’s daughter, in her waist, paralyzing her
                        permanently in The Killing Joke and curving out his face and stitching it back to his deformed
                        face
                        (which is beyond insane and sick) in the New 52, Death of the Family.
                    </p>

                    <img src="./assets/img/character-page/joker-killing-joke.png" alt="joker-killing-joke"
                        class="img-fluid">
                    

                    <p>
                        The Joker doesn't have a definite origin story, although the generally accepted origin one is
                        that
                        he was a criminal formerly known as the Red Hood who got into a confrontation with Batman in a
                        chemical factory and in the process the, falls into the acidic chemical plant that disfigures
                        his
                        skin, turning him into the Joker.
                    </p>

                    <img src="./assets/img/character-page/joker-quote-2.jpg" alt="joker-killing-joke" class="img-fluid">
                
                </div>


            </div>

        </div>


    </section>
    <!--end of character-facts-->

        <!--source section-->
        <section id="source-section" class="mt-5" data-aos="fade-up" data-aos-duration="1000">

            <div class="container">
    
                <div class="row">
    
                    <div class="col src-cnt-section">
                        <h2 class="display-3 text-center">
                            Sources
                        </h2>
    
                        <ol class="list-group">
                            <li class="list-group-item">The Philosophy Of The Joker</li>
                            <li class="list-group-item">The Dark Knight- Creating The Ultimate Antagonist</li>
                            <li class="list-group-item">DC Wikia</li>
                            <li class="list-group-item">The Dark Knight- Creating The Ultimate Antagonist</li>
                            <li class="list-group-item">DC Wikia</li>
                        </ol>
    
                    </div>
    
                </div>
    
    
            </div>
    
        </section>
        <!--end of source-section -->

</div>

<app-emailsubscription></app-emailsubscription>

<app-footer-alt></app-footer-alt>
