<!--Site Preloaders-->
<app-preloader
    *ngIf="siteImages.length > 0"
    [images]="siteImages"
></app-preloader>
<!--END Site Preloaders-->

<!--Logo section-->
<div class="row">

    <div class="mini-logo-section">
        <a routerLink="/">
            <img src="../../../assets/img/nav-menu/sm-logo-white.png" alt="the-nerd-interpreter" class="img-fluid">
        </a>
    </div>

</div>
<!--End of logo section-->

<app-banner
    bannerTitle="Marvel Characters"
    bannerImage="../../../assets/img/marvel-characters/marvel-characters-hero-banner.jpg"
>

</app-banner>

<div class="row">
    <div class="p-3 mt-3 text-intro-section">
        <p class="text-center">
            Here's an in-depth analysis of what makes these Marvel comic book
            characters unique, with a look at their nuances and reasons
            behind their intentions as heroes or villains
        </p>
    </div>
</div>

<div class="row">

    <div class="col explore-characters-txt mt-5">
        <h4 class="text-center display-3">
            Explore the Characters
        </h4>
    </div>

</div>

<div class="row">

    <div class="col p-3">

        <div id="filters" class="filter-button-group text-center">
            <button class="button is-checked p-3 m-3" data-filter="*">all characters</button>
            <button class="button p-3 m-3" data-filter=".dc-heroes">Heroes</button>
            <button class="button p-3 m-3" data-filter=".dc-villains">Villains</button>
        </div>

    </div>

    <div class="grid">

        <div class="grid-sizer"></div>

<ngx-masonry [options]="options" [updateLayout]="charactersData">

        <div ngxMasonryItem *ngFor="let item of charactersData">

            <!-- Character Item -->
            <div class="character-item" [ngClass]="styles(item)" (click)="expand(item)">

                <div class="character-image">
                    <img src="{{ item.characterImage }}" alt="{{ item.alt }}" class="img-fluid">
                </div>

                <a class="btn btn-light name" routerLink="/single-character">
                    <h3 class="name display-4">{{item.title}}</h3>
                </a>
                
            </div>

        </div>

       </ngx-masonry>

    </div>

</div>

<app-emailsubscription></app-emailsubscription>

<app-footer-alt></app-footer-alt>